html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

body {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    margin: 60px 20px;
    background-color: #FAFAFA;
}

.cestovatel {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 28px;
    font-weight: 500;
    color: #000000;
    text-align: center;
    margin: 40px 0;
}

h2 {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    text-align: center;
    margin-top: 60px;
}

h1::after {
    content:"";
    background-color: #407BFF;
    width: 80px;
    height: 2px;
    display: block;
    position: absolute;
    margin-top: 10px;
    margin-left: 40%;
}

p {
    font-size: 16px;
    font-weight: 300;
    color: #8B8B8B;
    text-align: center;
    line-height: 1.5;
}

button {
    font-weight: 400;
    color: #FFFFFF;
    font-size: 14px;
    border: none;
    display: block;
    padding: 10px 30px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

.dobrodruzstvi {
    background-color: #407BFF;
    margin-top: 40px;
}

.pohoda {
    background-color: #8B8B8B;
}

.sluzby {
    margin-bottom: 30px;
}

.kontejner {
    display: flex;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: #407BFF1F 0px 4px 6px;;
    padding: 30px 20px 20px 20px;
}

img {
    margin-right: 30px;
}

@media screen and (min-width: 640px) {

    .tlacitka {
        display: flex;
        justify-content: center;
    }

    .pohoda {
        margin: 0;
    }

    .dobrodruzstvi {
        margin: 0 20px 0 0;
    }

    p {
        margin-top: 42px;
        margin-bottom: 30px;
    }

    h2 {
        margin-top: 80px;
    }

    .sluzby {
        margin: 17px 0 40px 0;
    }

    .horni,
    .spodni {
        display: flex;
    }

    .kontejner {
        flex-direction: column;
        align-items: center;
    }

    img {
        width: 45px;
        margin-right: 0;
    }
    
    .vlevo,
    .uprostred {
        margin-right: 20px;
    }

    .kaktus {
        width: 40px;
    }

    .palma,
    .slunecnik,
    .karavan {
        width: 50px;
    }
}

@media screen and (min-width: 1100px) {

body {
    margin: 60px 80px;
}
header {
    display: grid;
    grid-template-columns: 490px 60px 490px;
    grid-auto-flow: dense;
}

.cestovatel {
    grid-column: 3 / 4;
    max-width: 425px;
    
}

.travels {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
 h1 {
     text-align: left;
 }

 p {
     text-align: left;
     margin-top: 0;
 }
 h1::after {
     margin-left: 0;
 } 

.tlacitka {
    justify-content: start;
}

.prostredni {
    display: grid;
    grid-template-columns: 550px 60px 430px;
    margin: 80px 0;
    align-items: center;
}

.horni {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.popis {
    grid-column: 3 / 4;
}

h2 {
    text-align: left;
    margin-top: 0;
}

.sluzby {
    margin: 0;
}

img {
    margin-bottom: 20px;
}

.kontejner {
    padding: 40px 15px;
}

.posledni {
    display: grid;
    grid-template-columns: 430px 60px 550px;
    align-items: center;
}

.popis2 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.spodni {
    grid-column: 3 / 4;
}


}